{% extends 'base.html' %}
{% block title %}{{ photo.title }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="img-fluid rounded shadow">
    </div>
    <div class="col-md-4">
        <h3>{{ photo.title }}</h3>
        <p class="text-muted">{{ photo.description }}</p>
        <p class="small">Uploaded by: {{ photo.uploader.username }}</p>
        <p class="small">Album: <a href="{% url 'album-detail' photo.album.pk %}">{{ photo.album.title }}</a></p>
        {% if can_edit %}
        <div class="d-flex gap-2 mt-3">
            <a href="{% url 'photo-edit' photo.pk %}" class="btn btn-outline-secondary">Edit</a>
            <a href="{% url 'photo-delete' photo.pk %}" class="btn btn-outline-danger">Delete</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}